<div class="slider-revolution">
    <div id="slider-revolution">
        <ul>
            <li data-transition="cube">
                <img src="/content/media/slider_combo_12.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>            

            <li data-transition="cube">
                <img src="/content/media/slider_combo_17.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>

            {# image ONE #}
            <li data-transition="cube">
                <img src="/content/media/slider_combo_7.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>
<!--
            <li data-transition="cube">
                <img src="/content/media/slider_combo_10.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>
-->
<!--
            <li data-transition="cube">
                <img src="/content/media/slider_combo_11.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>
-->
 

<!--
            <li data-transition="cube">
                <img src="/content/media/slider_combo_2.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>
-->

<!--
            <li data-transition="cube">
                <img src="/content/media/slider_combo_4.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>
-->
<!--
            <li data-transition="cube">
                <img src="/content/media/slider_combo_5.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>


            <li data-transition="cube">
                <img src="/content/media/slider_combo_6.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>


            <li data-transition="cube">
                <img src="/content/media/slider_combo_0.jpg" alt="">
                    {# подпись на слайдере #}
                    <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                        data-x="center"
                        data-hoffset="80"
                        data-y="center"
                        data-speed="500"
                        data-start="500"
                        data-easing="Power3.easeInOut"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                        {#Надежные поставки#}
                    </div>
            </li>

            <li data-transition="cube">
                <img src="/content/media/slider_combo_9.jpg" alt="">
                {# подпись на слайдере #}
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    {#Надежные поставки#}
                </div>
            </li>

                {#
            <li data-transition="cube">
                <img src="/content/media/slider_combo_8.jpg" alt="">
                <div class="tp-caption title skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="80"
                    data-y="center"
                    data-speed="500"
                    data-start="500"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    Качественное сырье#
                </div>

                <div class="tp-caption sft tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="-215"
                    data-y="center" 
                    data-voffset="-96"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="3000"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="tp-caption sfl tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="-300"
                    data-y="center" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="3300"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-2 fa-truck"></i>
                </div>
                <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="-215"
                    data-y="center" 
                    data-voffset="96"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="3600"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-3 fa-bar"></i>
                </div>

                <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-0"
                    data-x="center"
                    data-hoffset="265"
                    data-y="center" 
                    data-voffset="91"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="4000"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="#" class="button-my">Узнать больше</a>
                </div>
            </li>
#}
-->
        </ul>
    </div>
</div>
