{% extends "layout/layout.html.twig" %}
	
{% block title %}
	{% if lang == 'en' %}
		PSB GEM HOLZ:TPP
	{% endif %}
	{% if lang == 'ru' %}
		PSB GEM HOLZ:PTT
	{% endif %}
{% endblock %}

{% block page_intro %}
	{% if lang=='ru' %}
	<div class="page-intro">
	    <div class="pic" style="background-image: url('/content/media/2000x316xmap_ru.jpg')"></div>
	    <div class="grid-row clearfix">
	        <div class="page-title">ЗАО "ПСБ-ГЭМ-ХОЛЬЦ"</div>
	        <div class="page-subtitle">Политика закупок:Общие выводы</div>
	        {#<div class="bread-crumbs"><a href="/">Главная</a> - Политика закупок:Общие выводы</div>#}
	    </div>
	</div>
	{% endif %}
	{% if lang=='en' %}
	<div class="page-intro">
	    <div class="pic" style="background-image: url('/content/media/2000x316xmap_ru.jpg')"></div>
	    <div class="grid-row clearfix">
	        <div class="page-title">JSC "PSB-GEM-HOLZ"</div>
	        <div class="page-subtitle">Timber procurement policy:Resume</div>
	        <div class="bread-crumbs"><a href="/">Home</a> - TPP:Resume</div>
	    </div>
	</div>
	{% endif %}	
{% endblock %}

{% block page_section %}
	{% if lang=='ru' %}
	<div>
				<div class="page-content-section">
					<div class="grid-row">						
						<div class="grid-col grid-col-right grid-col-9">
							<!-- blog details -->
							<div class="block block-blog-details">
							<div style="color:#333;">	
	<p style="font-weight:bold;">ОБЩИЕ ВЫВОДЫ ПО ОЦЕНКЕ РИСКОВ ПРИ ПОСТАВКАХ FSC КОНТРОЛИРУЕМОЙ ДРЕВЕСИНЫ ИЗ ВЫТЕГОРСКОГО  ЛЕСНИЧЕСТВА ВОЛОГОДСКОЙ ОБЛАСТИ  – НИЗКИЙ РИСК</p>

<p>Данный покумент является примечанием к <a href="/{{lang}}/standard/tpp/table">рабочим таблицам</a>:</p>

<p>Информация на Интернет-сайтах, использованная в оценке:</p>

<p>
	Места потенциальных конфликтов между промышленными компаниями и коренными народами: 
	<a href="http://www.csipn.ru/publications/Hot%20Spots%202008%20Publication.pdf">в документе</a>
</p>

<p>
	Места обитания малочисленных коренных народов (КМН): http://www.csipn.ru/publications/Peoples_.jpg
</p>

<p>
Области, указанные в "Едином перечне малочисленных коренных народов Российской Федерации (решение правительства РФ от 24.03.2000 № 255)" <a href="http://www.kamchatka.gov.ru/upfiles/256.doc">Перечень</a>
</p>
{#
<p>
#}
<p>Малонарушенные лесные массивы: <a href="http://www.forest.ru/rus/publications/intact/maps/er/_er-17-18.pdf">в документе</a>,  <a href="http://www.hcvf.net/eng/search/er_7.html">и в документе</a> </p>

<p>Горячие точки биоразнообразия РФ: <a href="http://www.biodiversityhotspots.org/xp/hotspots/caucasus/Pages/default.aspx">Документ</a>,  <a href="http://www.conservation.org">Документ</a></p>

<p>
	Центры растительного разнообразия: <a href="http://bure.unep-wcmc.org/imaps/gb2002/book/viewer.htm">Документ</a>
</p>

<p>
	Ключевых орнитологических территориях: <a href="http://www.birdlife.org/action/science/sites/">Документ</a>
</p>

<p>
	Водно-болотных угодьях международного значения: <a href="http://ramsar.wetlands.org/">Документ</a>
</p>
<p>
	Мировом центре разнообразия растений МСОП: <a href="www.iucn.org">Документ</a>
</p>
<p>
	Особо охраняемых территориях: <a href="http://www.oopt.info">Документ</a>, <a href="www.zapoved.ru">Документ</a>
</p>
<p>
	Информация по нелегальным рубкам в районе <a href='http://www.wood.ru/ru/lonewsid-20997.html'>Документ</a>
</p>
<p>
	Информация по особоохраняемым территориям  района поставок: <a href="http://vologda-oblast.ru/main.asp?V=195">Документ</a>
</p>
<p>
	Информация региональной рабочей группы «ГЭП-анализ сети ООПТ Вологодской области» <a href="http://gap.uni-vologda.ac.ru/content/blogsection/9/14/">Документ</a>
</p>
</div>
						
								<div class="about">
								<i class="fa fa-user"></i>
								<h3><a href="#">Быков	П. В. <span>Начальник лесного отдела</span></a></h3>
								<p>Разработчик процедур правил заготовки, контроль исполнения правил FSC</p>
								</div>
								<div class="about">
								<i class="fa fa-user"></i>
								<h3><a href="#">Раков  С.  В. <span>Зам. 	Начальника лесного отдела</span></a></h3>
								<p>Разработчик процедур правил заготовки, контроль исполнения правил FSC</p>
								</div>

							</div>
							<!--/ blog details -->
						</div>
						
						{% include 'layout/tpp_sidebar.html.twig' %}

					</div>

				</div>

	{% endif %}

{% endblock page_section %}




 
 
 
