{% extends "layout/layout.html.twig" %}
	
{% block title %}
	{% if lang == 'en' %}
		PSB GEM HOLZ:TPP
	{% endif %}
	{% if lang == 'ru' %}
		PSB GEM HOLZ:PTT
	{% endif %}
{% endblock %}

{% block pagestyle %}
	<style type="text/css">

		table {
			color: #444;	
			line-height: 1.6;		
		}

		table th {
			/* background: #384452; */
			color: #333;
			font-size: 1.3em;
			font-weight: bold;
			line-height: 1.5;
		}
		table tr.total {
			height: 3em;
			font-size: 14px;
			background-color: #ECF0F1;
			border: 0px solid black;
		}
		tr {
			padding: 15px;
			border-bottom: 1px dashed #c6c6c6;

		}
	</style>
{% endblock %}

{% block page_intro %}
	{% if lang=='ru' %}
	<div class="page-intro">
	    <div class="pic" style="background-image: url('/content/media/2000x316xabout.jpg')"></div>
	    
	    <div class="grid-row clearfix">
	        <div class="page-title">ЗАО "ПСБ-ГЭМ-ХОЛЬЦ"</div>
	        <div class="page-subtitle">Политика закупок:Рабочая таблица</div>
	        <div class="bread-crumbs"><a href="/">Главная</a> - Политика закупок:Рабочая таблица</div>
	    </div>
	</div>
	{% endif %}
	{% if lang=='en' %}
	<div class="page-intro">
	    <div class="pic" style="background-image: url('/content/media/2000x316xabout.jpg')"></div>
	    
	    <div class="grid-row clearfix">
	        <div class="page-title">JSC "PSB-GEM-HOLZ"</div>
	        <div class="page-subtitle">Timber procurement policy:Reference tables</div>
	        <div class="bread-crumbs"><a href="/">Home</a> - TPP:Reference tables</div>
	    </div>
	</div>
	{% endif %}	
{% endblock %}

{% block page_section %}
	{% if lang=='ru' %}

	<div class="page-content-section">
		<div class="grid-row">						
			<div class="grid-col grid-col-right grid-col-9">
				<!-- blog details -->
				<div class="block block-blog-details">
					
					{#<h2>Рабочие таблицы</h2>#}
					<table>
						<tr>
							<th>Держатель сертификата:</th>
							<th>ЗАО «ПСБ-ГЭМ-ХОЛЬЦ»</th>
							<th>Сертификационный орган</th>
						</tr>
						<tr>
							<td>Код сертификата FSC</td>
							<td>FC СОС/СW 643021</td>
							<td>Дата утверждения результатов оценки риска органом по сертификации:</td>
						</tr>
						<tr>
							<td>Дата оценки риска:</td>
							<td>04.11.2014 г.</td>
							<td></td>
						</tr>
						<tr>
							<td>Адрес держателя сертификата:</td>
							<td>г. Санкт-Петербург, ул. Большевиков, д.52, корп.6.</td>
							<td></td>
						</tr>
						<tr>
							<td>Районы, включая страны, к которым относится данная оценка риска*:</td>
							<td colspan="2">
Россия, Вытегорское государственное лесничество Вологодской Области. Поставщик ЗАО «Вологодские лесопромышленники» - субпоставщик  ЗАО «Онегалеспром» (держатель мультисертификата FSC SW-COC-004836 SW-CW-004836)
							</td>
						</tr>
					</table>
					<p style="font-size:10px;">
						*Примечание! Если источники информации, выводы и/или уровень риска относится к разным районам, то для каждого района должна быть отдельная таблица. 
					</p>

					{##}
					<table>
						<tr>
							<th>Категория</th>
							<th>Индикатор FSC</th>
							<th>Используемый источник информации</th>
							<th>Краткие выводы</th>
							<th>Риск</th>
						</tr>
						<tr>
							<td>
								1. Нелегально заготовленная древесина  Район происхождения древесины может рассматриваться как район низкого риска, если по отношению к нему применимы следующие показатели лесоуправления:
							</td>
							<td>
								1.1. Свидетельство выполнения лесного законодательства в районе лесозаготовок.
							</td>
							<td>
1. Лесной Кодекс РФ;
2. Правила заготовки древесины в лесах РФ ;
3. Интервью с представителями лесничества (участкового лесничества).
4. Интервью с представителями администрации.
							</td>
							<td>
								В Вытегоском районе Вологодской области  соблюдаются основные требования лесного законодательства РФ при осуществлении лесопользования
							</td>
							<td>
								«Низкий риск»
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								1.2. В районе существуют свидетельства, демонстрирующие легальность  заготовок и продаж древесины, которые включают надежные и эффективные системы предоставления лицензий и разрешений на лесозаготовку.
							</td>
							<td>
1. Протокол о результатах лесного конкурса (аукциона) по передаче в аренду участков лесного фонда.
2. Договор аренды участков лесного фонда.
3. Акт передачи участков лесного фонда в аренду.
4. Лесная декларация
5.Технологическая карта разработки лесосеки.
6. Интервью с представителями лесничества (участкового лесничества).
							</td>
							<td>
Лесозаготовки осуществляются
легально, имеется эффективная система контроля. Поставщик ЗАО «Вологодские лесопромышленники» - субпоставщик  ЗАО «Онегалеспром» (держатель мультисертификата FSC SW-COC-004836
SW-CW-004836) Договоры аренды заключены между Департаментом лесного комплекса Вологодской области и ЗАО «Онегалеспром». Разработан и прошел госэкспертизу проект освоения участка лесного фонда, подана лесная декларация и оформлены технологические карты. Представленная документация соответствует предъявляемым требованиям.
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>
								1.3. Отсутствие или незначительное число свидетельств или публикаций о нелегальных рубках на территории заготовки.
							</td>
							<td>
1. Интервью с представителями лесничества (участкового лесничества).
2. Сведения о незаконных заготовках древесины на территории лесничества за 2012 и 2013 гг.
							</td>
							<td>
								Публикации и сообщения в прессе о нелегальной заготовке отсутствуют, в 2013-14 годах выявлены факты нарушения оформления трансполртных документов покупателями древесины, не относящиеся к поставщику ЗАО «ПСБ-ГЭМ-Хольц»
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>
								1.4. Коррупция, относящаяся к предоставлению прав и разрешений на лесозаготовку, а также к другим сферам правоприменения в области лесозаготовки и торговли лесоматериалами слабо воспринимается (общественным мнением).
							</td>
							<td>
1. Индекс коррупции области.
2. Интервью с заинтересованными сторонами (работники других лесозаготовительных предприятий, местные жители).
							</td>
							<td>
								Телефонное общение с другими  лесозаготовителями  Вытегорского  муниципального района не выявило фактов коррупции среди работников лесного хозяйства, относящихся к предоставлению прав и разрешений на лесозаготовку
							</td>
							<td>
								Низкий риск
							</td>
						</tr>
						<tr class="total">
							<td colspan="4">
								Итоговая оценка
							</td>
							<td>
								Низкий риск
							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
						<tr>
							<td>
2. Древесина, заготовленная с нарушением традиционных и гражданских	 прав
Район происхождения может рассматриваться как район низкого риска в отношении нарушения традиционных, гражданских и коллективных прав, если есть следующие индикаторы:
							</td>
							<td>
								2.1. Отсутствует запрет Совета безопасности ООН на экспорт древесины из данной страны;
							</td>
							<td>
								Не актуален
							</td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td>
								2.2. Территория не является источником «конфликтной» древесины (например, конфликтная древесина USAID, Tип 1); 
							</td>
							<td>
								Не актуален
							</td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td>
								2.3. Отсутствие прецедента использования детского труда или нарушения Декларации МОТ (Международной организации труда) об основополагающих принципах и правах на рабочих местах на территории соответствующих лесных участков.
							</td>
							<td>
1. Интервью с и.о. начальника кадров.
2. Интервью со специалистами отдела кадров предприятия.
3. Документация, подтверждающая, что на предприятии не используется детский и принудительный труд.
4. Наблюдение.
							</td>
							<td>
								На предприятиях не используется принудительный и детский труд, соблюдаются положения Декларации МОТ
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
2.4. На соответствующей территории применяются общепризнанные и справедливые процессы разрешения конфликтов существенного масштаба, связанных с традиционными правами, в т.ч. с правами пользования, культурными интересами или традиционной специфичностью культуры.								
							</td>
							<td>
1. Интервью с работниками предприятия ЗАО «Онегалеспром».								
							</td>
							<td>
Применяются общепризнанные и справедливые процессы разрешения конфликтов существенного масштаба, связанных с традиционными правами, в т.ч. с правами пользования, культурными интересами или традиционной специфичностью культуры.
На территории проведения лесозаготовительных работ конфликты не зарегистрированы								
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
2.5 Отсутствие прецедента нарушений Конвенции МОТ о коренных и племенных народах на данной лесной территории.
							</td>
							<td>
1. Интервью с работниками предприятия.								
							</td>
							<td>
Отсутствие прецедента нарушений Конвенции МОТ о коренных и племенных народах на данной лесной территории, поскольку на территории лесничества нет населенных пунктов коренных и племенных народов. Деятельность предприятия  не нарушает права коренных народов								
							</td>
						</tr>
						<tr class="total">
							<td colspan="3">Итоговая оценка</td>
							<td></td>
						</tr>
					</table>

					<table>
						<tr>
							<td>
3.Древесина, заготовленная в лесах, где высокие природоохранные ценности подвергаются угрозе при лесоуправлении 
							</td>
							<td>
								3.1. Лесопользование на соответствующем уровне (экорегион, субэкорегион, местном) не угрожает высоким природоохранным ценностям в масштабе экорегиона.
							</td>
							<td>
								1. Атлас малонарушенных лесов России (2003);
2. Ведомость особо охраняемых природных территорий на территории аренды предприятия.
3. Интервью с представителями лесничества.
4. Консультации с НПО (WWF и др.).
							</td>
							<td>
								Территории лесного фонда,
имеющие природоохранную ценность исключены из лесопользования.
Режим охраны ООПТ опрелен соответсвующими паспортами и лесным планом  Вологодской области, лесохозяйственным регламентом лесничества
Заготовка древесины не осуществляется на площади ООПТ.
							</td>
						</tr>
						<tr>
							<td>
Район заготовки может быть признан районом низкого риска с точки зрения угрозы существованию высоких природоохранных ценностей, если:
а) показатель 3.1 соблюден, или 
b) показатель 3.2 устраняет (или резко снижает) негативное воздействие на район происхождения, проистекающее  из несоответствия требованиям п. 3.1.
							</td>
							<td>
3.2. Существует надежная система охраны (эффективно охраняемые территории и законодательство), гарантирующая сохранение ВПЦ в данном экорегионе.								
							</td>
							<td>
1. Лесной Кодекс РФ;
2. Водный кодекс РФ
3. Закон об охране окружающей среды РФ
4. Закон об особо охраняемых природных территориях РФ
5. Леса высокой природоохранной ценности: практическое руководство;
6. Интервью с представителями лесничества.								
							</td>
							<td>
Существует надежная система охраны (эффективно охраняемые территории и законодательство), гарантирующая сохранение ООПТ  данном экорегионе. На территории района соблюдаются положения природоохранного законодательства
							</td>
						</tr>
						<tr class="total">
							<td colspan="3">Итоговая оценка</td>
							<td></td>
						</tr>
					</table>

					<table>
						<tr>
							<td>
								4. Древесина, заготовленная на участках, переведенных в плантации или нелесные земли Район происхождения может быть признан районом низкого риска в отношении перевода лесов в плантации или нелесные земли, если присутствует показатель:
							</td>
							<td>
								4.1. На территории экорегиона отсутствует абсолютное сокращение и не наблюдается значительных темпов сокращения (более 0,5 %) естественных лесов и других естественных лесных экосистем, таких как саванны, происходящих в рассматриваемом экорегионе.
							</td>
							<td>
1. Данные о переводе лесных земель в нелесные на территории лесничества.
2. Интервью с представителями лесничества.
							</td>
							<td>
На участках лесного фонда, где ведутся лесозаготовки нет фактов плантационного выращивания.
Перевод лесных земель в нелесные на территории лесничества осуществляется  в основном под линейные сооружения (ЛЭП, дороги, газотрассы и т.п.) по прошедшим госэкспертизу проектам.

							</td>
						</tr>
						<tr class="total">
							<td colspan="3">Итоговая оценка</td>
							<td>&nbsp;</td>
						</tr>
					</table>

					<table border="1">
						<tr>
							<td>
								5. Древесина из лесов, где выращивают генетически модифицированные деревьев Район происхождения древесины может считаться районом низкого риска в плане наличия генетически модифицированных деревьев, если выполняется один из следующих показателей:
							</td>
							<td>
								a) В  рассматриваемой стране или районе отсутствует практика коммерческого использования генетически модифицированной древесины рассматриваемых пород
							</td>
							<td>
								Не актуален
							</td>
						</tr>
						<tr>
							<td></td>
							<td>b) Для коммерческого использования генетически модифицированной древесины необходима лицензия, и такие лицензии не выдавались</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>
								c) Коммерческое использование такой древесины в данной стране запрещено
							</td>
							<td></td>
						</tr>
						<tr class="total">
							<td colspan="2">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
					{##}
				
					<div class="about">
					<i class="fa fa-user"></i>
					<h3><a href="#">Быков	П. В. <span>Начальник лесного отдела</span></a></h3>
					<p>Разработчик процедур правил заготовки, контроль исполнения правил FSC</p>
					</div>
					<div class="about">
					<i class="fa fa-user"></i>
					<h3><a href="#">Раков  С.  В. <span>Зам. 	Начальника лесного отдела</span></a></h3>
					<p>Разработчик процедур правил заготовки, контроль исполнения правил FSC</p>
					</div>

				</div>
				<!--/ blog details -->
			</div>
						
			{% include 'layout/tpp_sidebar.html.twig' %}

		</div>
	</div>

	{% endif %}
{% endblock page_section %}




 
 
 
